body {
}

.test {
    padding-top: 3em;
    padding-left: 2em;
    padding-right: 2em;
    letter-spacing: -1px;
    text-align: center;
}

.menu{
	width: 100%;
	text-align: center;
	margin: auto;
	padding-top: 5px;
	padding-bottom: 20px;
}

.menu a{
	color: #6B6B6B;
	font-size: 23px;
}

.menu a:hover{
	cursor: pointer;
}

.table {
    width: 80%;
    padding-left: 5%;
    margin: auto;
    background-color: transparent;
    border-radius: 2px;
}

.table_inside {
    width: 100%;
    height: auto;
    margin-bottom: 8px;
    padding: 0.4em 0.5em 0.5em 0.5em;
    border-radius: 4px;
    background-color: #F0F0F0;
}

.subline {
    width: 90%;
    height: 1px;
    background-color: #8C8C8C;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.message_title {
    width:60%;
    height:auto;
}

.message_title span {
    color: black;
    font-size:xx-large;
}

.message_line {
    width: 60%;
    height: auto;
    margin-bottom:1.5em;
}

.message_line span {
    color: black;
    font-size: x-large;
}

.line {
    width: 85%;
    margin: auto;
    height: 1px;
    background-color: #CCCCCC;
}